node_modules/

.DS_Store

lib/
*.tsbuildinfo
coverage/
docs/
.idea/

# macos
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

examples/**/yarn.lock
examples/**/package-lock.json
