node_modules/

.DS_Store

lib/
*.tsbuildinfo
coverage/
docs/
.idea/

# macos
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# temp change for testing
!packages/analytics-browser/lib
packages/analytics-browser/lib/*
!packages/analytics-browser/lib/scripts
packages/analytics-browser/lib/scripts/*
!packages/analytics-browser/lib/scripts/amplitude-min.js
