<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    Prerequisite: {{ prerequisite }}
    <ul>
      {{#each options as |option|}}
        <li>{{option}}</li>
      {{/each}}
    </ul>
  </body>
</html>
