name: Continuous Deployment

on:
  workflow_dispatch:
    inputs:
      releaseType:
        type: choice
        description: Release Type
        options:
          - release
          - prerelease
          - graduate
          - from git

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    env:
      RELEASE_TYPE: ${{ github.event.inputs.releaseType }}
    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - name: Check out git repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install project dependencies
        run: |
          yarn install --frozen-lockfile

      - name: Build all packages
        run: |
          yarn build

      - name: Test all packages
        run: |
          yarn test

      - name: Lint all packages
        run: |
          yarn lint

      - name: Configure Git User
        run: |
          git config --global user.name amplitude-sdk-bot
          git config --global user.email amplitude-sdk-bot@users.noreply.github.com

      - name: Configure NPM User
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_PUBLISH_TOKEN }}" > ~/.npmrc
          npm whoami

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::358203115967:role/jenkins
          aws-region: us-west-2

      # https://www.npmjs.com/package/@lerna/version#--conventional-prerelease
      # patch: 1.0.0 -> 1.0.1-alpha.0
      # minor: 1.0.0 -> 1.1.0-alpha.0
      # major: 1.0.0 -> 2.0.0-alpha.0
      - name: Publish Pre-release to NPM
        if: ${{ env.RELEASE_TYPE == 'prerelease'}}
        run: |
          npm run deploy -- -y --conventional-prerelease
        env:
          S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
          GITHUB_TOKEN: ${{ secrets.GH_PUBLISH_TOKEN }}

      # https://www.npmjs.com/package/@lerna/version#--conventional-graduate
      # 1.0.0-alpha.0 -> 1.0.1
      - name: Publish Graduate to NPM
        if: ${{ env.RELEASE_TYPE == 'graduate'}}
        run: |
          npm run deploy -- -y --conventional-graduate
        env:
          S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
          GITHUB_TOKEN: ${{ secrets.GH_PUBLISH_TOKEN }}

      # Use 'release' for the usual deployment
      # NOTE: You probably want this
      - name: Publish Release to NPM
        if: ${{ env.RELEASE_TYPE == 'release'}}
        run: |
          npm run deploy -- -y
        env:
          S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
          GITHUB_TOKEN: ${{ secrets.GH_PUBLISH_TOKEN }}

      # Use 'from git' option if `lerna version` has already been run
      - name: Publish Release to NPM
        if: ${{ env.RELEASE_TYPE == 'from git'}}
        run: |
          npm run deploy -- from-git -y
        env:
          S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
          GITHUB_TOKEN: ${{ secrets.GH_PUBLISH_TOKEN }}
