name: E2E Tests

on:
  push:
    branches:
      - main
      - v1.x
  pull_request:
    types: [opened, synchronize]

jobs:
  e2e:
    name: E2E Tests
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.55.0

    steps:
      - name: Check out git repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Run E2E tests
        uses: ./.github/actions/e2e-test
        with:
          amplitude-api-key: ${{ secrets.AMPLITUDE_API_KEY }}
