# Creates jira tickets for new github issues and dependency PRs to help triage
name: Jira Issue Creator For TS

on:
  issues:
    types: [opened]
  pull_request_target:
    types: [labeled]
  workflow_call:
    inputs:
      label:
        type: string

jobs:
  create-jira-for-issue:
    if: github.event_name == 'issues' || github.event_name == 'workflow_call'
    uses: amplitude/Amplitude-TypeScript/.github/workflows/jira-issue-create-template.yml@main
    with:
      label: "TS"
      subcomponent: "dx_typescript_browser_sdk"
    secrets:
      JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
      JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
      JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
      JIRA_PROJECT: ${{ secrets.JIRA_PROJECT }}

  create-jira-for-dependency-pr:
    if: github.event_name == 'pull_request_target' && github.event.label.name == 'dependencies'
    uses: amplitude/Amplitude-TypeScript/.github/workflows/jira-issue-create-template.yml@main
    with:
      label: "TS"
      subcomponent: "dx_typescript_browser_sdk"
      issue_title: ${{ github.event.pull_request.title }}
      issue_url: ${{ github.event.pull_request.html_url }}
    secrets:
      JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
      JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
      JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
      JIRA_PROJECT: ${{ secrets.JIRA_PROJECT }}
