# Creates jira tickets for PRs labeled with 'dependencies' to help triage
name: Jira Issue Creator For Dependencies PR

on:
  pull_request:
    types: [labeled]

jobs:
  call-workflow-passing-data:
    if: github.event.label.name == 'dependencies'
    uses: amplitude/Amplitude-TypeScript/.github/workflows/jira-issue-create-template.yml@main
    with:
      label: "TS"
      subcomponent: "dx_typescript_browser_sdk"
      title: ${{ github.event.pull_request.title }}
      url: ${{ github.event.pull_request.html_url }}
    secrets:
      JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
      JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
      JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
      JIRA_PROJECT: ${{ secrets.JIRA_PROJECT }}
